<html>
    <head>
       <title>
           <%=title%>
       </title> 
       <%- style %>
       
       <link rel="stylesheet" href="./css/header.css">


       <link rel="stylesheet" type="text/css" href="./css/foooter.css">
       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="footer, address, phone, icons" />
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        
        <%- body %>

        <%- include('_footer'); %>
        
       <%- script %>
    </body>
</html>